[submodule "cncf/knative/aks-flux-extension"]
	path = cncf/knative/aks-flux-extension
	url = https://github.com/briandenicola/aks-flux-extension
[submodule "cncf/knative/--name"]
	path = cncf/knative/--name
	url = https://github.com/briandenicola/aks-flux-extension
[submodule "cncf/knative/cluster"]
	path = cncf/knative/cluster
	url = https://github.com/briandenicola/aks-flux-extension
[submodule "aks/multi-cluster/infrastructure"]
	path = aks/multi-cluster/infrastructure
	url = https://github.com/briandenicola/aks-flux-extension
[submodule "cncf/porter/cluster"]
	path = cncf/porter/cluster
	url = https://github.com/briandenicola/aks-flux-extension
