apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ print .Values.APP_NAME "-app-identity" }}
  namespace: {{ .Values.NAMESPACE }}
  annotations:
    azure.workload.identity/client-id: {{ .Values.ARM_WORKLOAD_APP_ID }}
    azure.workload.identity/tenant-id: {{ .Values.ARM_TENANT_ID }}
  labels:
    azure.workload.identity/use: "true"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: util
  namespace: {{ .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: util
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: util
    spec:
      serviceAccountName: {{ print .Values.APP_NAME "-app-identity" }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000  
        supplementalGroups: [2000]
        fsGroup: 2000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: utils
        image:  bjd145/utils:3.10
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          readOnlyRootFilesystem: false
          allowPrivilegeEscalation: false
        volumeMounts:
        - name:  secrets-store
          mountPath: "/mnt/secrets-store"
          readOnly: true
        env:
        - name: BJD_APP_SECRET
          valueFrom:
            secretKeyRef:
              name: samples
              key: samplesecret
      volumes:
      - name: secrets-store
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: "azure-kvname-workload-identity"
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kvname-workload-identity 
spec:
  provider: azure
  secretObjects:                              
  - data: 
    - key: samplesecret
      objectName: samplesecret                            
    secretName: samples                   
    type: Opaque 
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "false"          
    clientID: {{ .Values.ARM_WORKLOAD_APP_ID }}
    keyvaultName: {{ .Values.KEYVAULT_NAME }}
    cloudName: ""
    objects:  |
      array:
        - |
          objectName: samplesecret
          objectType: secret              # object types: secret, key, or cert
          objectVersion: ""               # [OPTIONAL] object versions, default to latest if empty
    tenantId: {{ .Values.ARM_TENANT_ID }}      