---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: simple-identity
  namespace: simple
  annotations:
    azure.workload.identity/client-id: ${CLIENT_ID}
    azure.workload.identity/tenant-id: ${TENANT_ID}