apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: ws-demo-gateway
  namespace: ws-example
  annotations:
    alb.networking.azure.io/alb-id: "${ALB_RESOURCE_ID}"
spec:
  gatewayClassName: azure-alb-external
  listeners:
  - name: http-listener
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: Same
  addresses:
  - type: alb.networking.azure.io/alb-frontend
    value: ${ALB_FRONTEND_NAME}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: websocket-route
  namespace: ws-example
spec:
  parentRefs:
  - name: ws-demo-gateway
  hostnames:
  - "chat.${DEFAULT_DOMAIN}"
  rules:
    - backendRefs:
        - name: websocket-backend
          port: 8080
---
apiVersion: alb.networking.azure.io/v1
kind: HealthCheckPolicy
metadata:
  name: websockets-backend-health-check-policy
  namespace: ws-example
spec:
  targetRef:
    group: ""
    kind: Service
    name: websocket-backend
    namespace: ws-example
  default:
    interval: 5s
    timeout: 3s
    healthyThreshold: 1
    unhealthyThreshold: 1
    http:
      path: /health